<div class="footer">
  <div method="POST" class="container" style="margin-top:120px;" id="loginform">
    <div class="input-group mb-3 row offset-3 col-6">
      <span class="input-group-prepend "><i class="input-group-text fa fa-user fa-2x"></i></span>
      <input id="username" type="text" [(ngModel)]="loginData.username" class="form-control mr-2"
        placeholder="User Name" required />
    </div>
    <div class="input-group mb-3 row offset-3 col-6">
      <span class="input-group-append"><i class=" input-group-text fa fa-lock fa-2x"></i></span>
      <input id="password" type="password" [(ngModel)]="loginData.password" class="form-control mr-2"
        placeholder="Password" required />
    </div>
    <div>
      <input style="margin: 10px auto;" (click)="login()" id="submitLogin" type="button"
        class="btn btn-primary row offset-3 col-2" value="Login" />
    </div>
  </div>
  <div class="mt-4">
    <span class="text-warning">Create an account ? </span><a style="font-weight:700; font-size:large;" class="text-dark"
      routerLink="/register">Register</a>
  </div>
</div>