<app-navbar></app-navbar>
<div class="alert alert-primary container row col-12" style=" margin: 10px auto;">
  <div class="col-8">
    username: Gedo <br>
    firstName: Mahmoud<br>
    LastName: Khaled <br>
    Email: gedo.mk@gmail.com <br>
    password: 123<br>
    following:<br>
    followers:<br>
    <button class="btn btn-warning mt-2">Edit My Account</button><br>
    <button class="btn btn-danger mt-2">Delete My Account</button>
  </div>
    <div class=" offset-2 col-1 mt-2">
      <i class="fa fa-user fa-8x text-success"></i>
      <label style="font-size:large; font-weight:600; margin-left:33px;">USER</label>
    </div>
</div>
<div class="card-deck col-12">
  <div class="card text-white bg-success">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-light mr-2 mb-3" >view Comments</button><br>
      <button class="btn btn-warning mr-2" >Edit</button>
      <button class="btn btn-danger" >Delete</button>
    </div>
  </div>
  <div class="card text-white bg-danger">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-light mr-2 mb-3" >view Comments</button><br>
      <button class="btn btn-warning mr-2" >Edit</button>
      <button class="btn btn-danger" >Delete</button>
      </div>
  </div>
  <div class="card text-white bg-info">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-light mr-2 mb-3" >view Comments</button><br>
      <button class="btn btn-warning mr-2" >Edit</button>
      <button class="btn btn-danger" >Delete</button>
    </div>
  </div>
</div>

<div class="card-deck col-12 mt-3">
  <div class="card text-white bg-success">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-light mr-2 mb-3" >view Comments</button><br>
      <button class="btn btn-warning mr-2" >Edit</button>
      <button class="btn btn-danger" >Delete</button>
    </div>
  </div>
  <div class="card text-white bg-danger">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-light mr-2 mb-3" >view Comments</button><br>
      <button class="btn btn-warning mr-2" >Edit</button>
      <button class="btn btn-danger" >Delete</button>
    </div>
  </div>
  <div class="card text-white bg-info">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-light mr-2 mb-3" >view Comments</button><br>
      <button class="btn btn-warning mr-2" >Edit</button>
      <button class="btn btn-danger" >Delete</button>
    </div>
  </div>
</div>
