<app-navbar></app-navbar>
<div class="alert alert-primary container row col-12" style=" margin: 10px auto;">
  <div class="col-8">
    username: {{user.username}} <br>
    firstName: {{user.firstName}}<br>
    LastName: {{user.LastName}} <br>
    Email: {{user.Email}} <br>
    following:{{user.following}}<br>
    followers:{{user.followers}}<br>

    <button class="btn btn-warning mt-2" routerLink="/editUser">Edit My Account</button><br>
    <button class="btn btn-danger mt-2" routerLink="/deleteUser">Delete My Account</button>

  </div>

  <div class=" offset-2 col-1 mt-2">
    <i class="fa fa-user fa-8x text-success"></i>
    <label style="font-size:large; font-weight:600; margin-left:33px;">USER</label>
  </div>
</div>

<div class="row col-12">
  <div *ngFor="let item of blogs" class="card-deck col-12 col-md-4 mt-3 ml-2">
    <div class="card text-dark">
      <img class="card-img-top img-responsive" [src]="item.photo!=null?item.photo:item.photo"
      alt="Blog image">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text" style="height:150px; overflow-y:auto;">{{item.body}}</p>
        <!-- <p class="card-text text-warning">By : {{item.author.username}}</p> -->
        <pre class="card-text text-"><i>Posted At : {{item.createdAt}}</i></pre>
      </div>
      <div class="card-footer">
        <a class="btn btn-success mt-2 col-12" routerLink="/viewComment"><i class="fa fa-comment fa-2x text-light"></i>Comments</a>
        <a class="btn btn-primary mt-2 ml-3 mr-1 col-5" [routerLink]="['/editBlog', item._id]"><i class="fa fa-pen fa-2x text-light"></i>Edit</a>
        <a class="btn btn-danger mt-2 ml-3  col-5" [routerLink]="['/deleteBlog', item._id]"><i class="fa fa-trash fa-2x text-light"></i>Delete</a>
      </div>
    </div>
  </div>
</div>
