
<div class="alert alert-success container row col-6" style="margin-top: 100px;">
  <div class="card-deck col-12">
    <div class="card text-dark bg-light">
      <img class="card-img-top img-responsive" [src]="Eblog.photo!=null?Eblog.photo:Eblog.photo" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{Eblog.title}}</h5>
        <p class="card-text">{{Eblog.body}}</p>
      </div>
      <div class="card-footer">
        <!-- <h6>userName</h6> -->
        <div *ngFor="let item of Eblog.comment">
          <p>
            {{item}}
          </p>
          <hr>
        </div>
        <!-- <div class="col-12" >
        <textarea class="col-12 mt-3" rows="7"placeholder="Add Reply" required="required"></textarea>
       </div> -->
      </div>
    </div>
  </div>
  </div>
  <app-navbar></app-navbar>