<app-navbar></app-navbar>
<div class="alert alert-success container row col-6" style=" margin: 10px auto;">
<div class="card-deck col-12">
  <div class="card text-dark bg-light">
    <img class="card-img-top img-responsive" src="assets/images/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <h6>userName</h6>
      <p>Comment Comment Comment Comment Comment
      Comment Comment Comment Comment Comment Comment
      Comment Comment Comment Comment Comment Comment
      Comment Comment Comment Comment Comment Comment Comment
      </p>
      <!-- <div class="col-12" >
        <textarea class="col-12 mt-3" rows="7"placeholder="Add Reply" required="required"></textarea>
       </div> -->
      <hr>
      <h6>userName2</h6>
      <p>Comment Comment Comment Comment Comment
      Comment Comment Comment Comment Comment Comment
      Comment Comment Comment Comment Comment Comment
      Comment Comment Comment Comment Comment Comment Comment
      </p>
      <hr>
    </div>
  </div>
</div>
