<app-navbar></app-navbar>
<div class="row col-12">
  <div class="card-deck col-12 col-md-4 mt-3 ml-2">
    <div class="card text-white bg-success">
      <img class="card-img-top img-responsive" [src]="blog.photo!=null?blog.photo:blog.photo" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{blog.body}}</p>
        <pre class="card-text text-"><i>Posted At : {{blog.createdAt}}</i></pre>
      </div>
      <div class="card-footer">
        <button (click)="deleteMyBlog()" class="btn btn-danger mr-2">Delete</button>
        <button routerLink="/myProfile" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>
</div>