<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<app-navbar></app-navbar>

<div class="footer">
  <form method="POST" class="container" style="margin-top:30px;" id="loginform">
    <div class="input-group mb-3 row offset-3 col-6">
        <span class="input-group-prepend "><i class="input-group-text fa fa-bookmark fa-2x"></i></span>
        <input [(ngModel)]='newBlog.title'[ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title" placeholder="title"  required="required" name="fieldName" ngDefaultControl/>
      </div>
    <div class="input-group mb-3 row offset-3 col-6">
        <span class="input-group-append"><i class=" input-group-text fa fa-tag fa-2x"></i></span>
        <input  type="text" class="form-control" id="tags"placeholder="Tags" [(ngModel)]='newBlog.tags' [ngModelOptions]="{standalone: true}" name="fieldName" ngDefaultControl/>
      </div>
      <div class="input-group mb-3 row offset-3 col-6" >
        <textarea [(ngModel)]="newBlog.body" id="textarea" class="form-control text-dark" rows="7" cols="30" placeholder="What's Happening?" required="required" [ngModelOptions]="{standalone: true}">
        </textarea>
      </div>
    <div class="input-group mb-3 row offset-3 col-6">
      <input type="file" class="btn text-warning" accept="photo/png, photo/jpeg, photo/jpg" (change)="handleFileInput($event)">
    </div>
    <div class="input-group mb-3 row offset-3 col-6">
    <input style="margin:auto;" (click)="Addpost()" type="button" class="btn btn-primary" value="Post"/>
    </div>
  </form>
  </div>

