.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
.card-footer
{
  background-color:skyblue;
}
/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

img
{
  height:300px;
}
/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

@media screen and (min-width: 48em) {
  .header{
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 2rem;
  }
}
